.login-container {
  height: 100vh;
  background: linear-gradient(135deg, #252525, #575757);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.login-form button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background: #575757;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.login-form button:hover {
  background: #444;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.redirect-text {
  margin-top: 15px;
  font-size: 0.9rem;
}

.redirect-text span {
  color: #575757;
  cursor: pointer;
  font-weight: bold;
}
